doctype html
html
    style
        include css/map.css
    script(src='https://unpkg.com/leaflet@1.5.1/dist/leaflet.js')
    body
        #map
        script.
            var map = L.map('map').setView([37.814, 144.96332], 15);
            mapLink =
            '<a href="http://openstreetmap.org">OpenStreetMap</a>';
            L.tileLayer(
            'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; ' + mapLink + ' Contributors',
            maxZoom: 18
            }).addTo(map);
