doctype html
html
    style
        include css/map.css
    script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.js')
    body
        #map
        script.
            var map = L.map('map').setView([-37.814, 144.96332], 15);
            mapLink =
            '<a href="http://openstreetmap.org">OpenStreetMap</a>';
            L.tileLayer(
            'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; ' + mapLink + ' Contributors',
            maxZoom: 18
            }).addTo(map);
            
            // custom marker
            map.on('click',function(ev){
                var latlng = map.mouseEventToLatLng(ev.originalEvent);
                console.log(latlng.lat + ', ' + latlng.lng);
               
                var marker = new L.marker([latlng.lat, latlng.lng]);

                map.addLayer(marker);
            });
            
